<div class="star-rating" [class.interactive]="interactive" [class.disabled]="disabled">
  <span
    *ngFor="let star of stars"
    class="star"
    [class.filled]="getEffectiveRating(star)"
    [class.hovered]="interactive && hoverRating >= star"
    [class]="starClass"
    (click)="onStarClick(star)"
    (mouseenter)="onHover(star)"
    (mouseleave)="onHoverEnd()"
    [attr.aria-label]="'Rate ' + star + ' out of ' + maxRating"
    [attr.role]="interactive ? 'button' : 'img'"
  >
    {{ getEffectiveRating(star) ? '★' : '☆' }}
  </span>
  <span class="rating-text" *ngIf="rating > 0 || interactive">
    {{ rating }}/{{ maxRating }}
  </span>
</div>